* {
	padding: 0px;
	margin: 0px;
}

.nav {
	list-style: none;
	background-color: rgba(30, 50, 100, 0.8);
	width: 1000px;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 30px;
	zoom: 1;
}

.nav li {
	float: left;
	width: 200px;
}

.nav a {
	width: 100%;
	display: inline-block;
	text-align: center;
	padding: 5px 3px;
	text-decoration: none;
	color: whitesmoke;
	font-weight: bold;
}

.nav a:hover {
	background-color: rgba(221, 221, 211, 1);
}

.bcg {
	height: 700px;
	width: 1200px;
	margin: 20px auto;
	background-image: url("../img/轮播图背景图.png");
	background-size: 100% 100%;
	overflow: hidden;
	border: skyblue 5px solid;
	border-radius: 80px;
}

.bcg p {
	margin-top: 70px;
	margin-left: 750px;
	font-size: large;
	color: ghostwhite;
	font-family: Arial, "Microsoft Yahei", "微软雅黑";
}

.demo {
	width: 500px;
	height: 400px;
	margin-top: 50px;
	margin-left: 600px;
	border-radius: 10px;
	overflow: hidden;
	/*用于隐藏超出展示容器的内容部分*/
}

.demo1 {
	width: 2500px;
	height: 400px;
	animation: text 25s infinite linear;
	font-size: 0px;
	/*消除图片间隔*/

}

.demo1 img {
	width: 500px;
	height: 400px;
	float: left;
}

@keyframes text {

	/*0%-20%是播放下一个图片，0%-10%是图片暂停的时间*/
	0%,
	10% {
		margin-left: 0px;
	}

	20%,
	30% {
		margin-left: -500px;
	}

	40%,
	50% {
		margin-left: -1000px;
	}

	60%,
	70% {
		margin-left: -1500px;
	}

	80%,
	90% {
		margin-left: -2000px;
	}
}